body {
    background-color: rgb(32, 61, 32);
    background-image: url(starterhouse.jpg);
    background-repeat: 	no-repeat;
    background-size: cover;
    font-family: 'Sedgwick Ave Display', cursive;
  }
  
  title{
    text-align: center;
  }


  h1 {
    color: white;
    text-align: center;
  }
  
h2 {
  color: white;
}

h3 {
  color: white;
}

  p {
    font-family: verdana;
    font-size: 20px;
  }

.tekst {
  margin-top: 20%;
}
.button{
  size: 0px;
}