body {
    background-color: rgb(32, 61, 32);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
h2 {
  color: white;
}

h3 {
  color: white;
}

  p {
    font-family: verdana;
    font-size: 20px;
  }
  image{
    display: block;
    
  }