body {
    background-color: rgb(32, 61, 32);
    background-image: url(starterhouse.jpg);
    background-repeat: 	no-repeat;
    background-size: cover;
  }
  
  h1 {
    color: white;
    text-align:50%
  }
  
h2 {
  color: white;
}

h3 {
  color: white;
}

  p {
    font-family: verdana;
    font-size: 20px;
  }

.tekst {
  margin-top: 20%;
}